[Desktop Entry]
Categories=Qt;Graphics;Viewer;Photography;
Comment=Minimal image viewer
Comment[pt]=Visualizador de imagens minimalista
Exec=ll-cli run com.interversehq.qView --exec qview %U
GenericName=Image Viewer
GenericName[pt]=Visualizador de imagens
Icon=com.interversehq.qView
Keywords=photos;pictures;jpeg;png;gif;webp;
Keywords[pt]=fotos;imagens;jpeg;png;gif;webp;
MimeType=image/bmp;image/x-win-bitmap;image/gif;image/icns;image/x-icon;image/jpeg;image/jpg;image/x-portable-bitmap;image/x-portable-graymap;image/png;image/x-portable-pixmap;image/svg+xml;image/tiff;image/vnd.wap.wbmp;image/webp;image/x-xbitmap;image/x-xpixmap;application/x-navi-animation;image/apng;image/avif;image/avif-sequence;image/x-sgi-bw;image/aces;image/x-exr;image/vnd.radiance;image/heic;image/heif;image/jxl;application/x-krita;image/openraster;image/vnd.zbrush.pcx;image/x-pcx;image/x-pic;image/vnd.adobe.photoshop;application/x-photoshop;application/photoshop;application/psd;image/psd;image/x-sun-raster;image/x-rgb;image/x-sgi-rgba;image/sgi;image/x-tga;image/x-xcf;
Name=qView
StartupNotify=true
StartupWMClass=qview
Terminal=false
Type=Application
X-linglong=com.interversehq.qView
